body {
    padding-top: 100px; 
 }

 #mainNav {
    background-color: rgb(254, 72, 31);  
  }

.mar{
    margin-top: 100px;
    
}
.pad{
    padding-top: 50px;
}
.det{
    border-style: double;
}

.btn{
    margin-top: 10px;
  }
    .btns{
      color: white;
      background-color:Tomato;
      border: 2px solid #ffffff;
    }

#picz{
    width:120px; 
    height:120px;
}